body {
font-family: 'Cinzel', serif;
}
.div{
    gap: 2px;
    
}
h3{
    color: red;
}
.lead {
    font-size: medium;
}
.img-thumbnail{
    width: 200px;
    height: 200px;
    border-spacing: 1in;
    border-color: red;
    border-style: double;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }